# Back Up Files #
*.*~
*.bak

# NetBeans Projects #
distributions-graph/nbproject/private/
distributions-graph/build/
distributions-graph/nbbuild/
distributions-graph/dist/
distributions-graph/nbdist/
distributions-graph/nbactions.xml
distributions-graph/nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.war
*.ear
